.navigation__buttonClose {
    margin: 22.44px 22.44px 0;
    padding: 0;
    align-self: flex-end;
    width: 31px;
    height: 31px;
    background-image: url(../../../images/close_black.png);
    background-size: contain;
    background-color: transparent;
    border: none;
    transition: opacity 0.6s;
}

.navigation__buttonClose:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 760px) {
    .navigation__buttonClose {
        margin: 13.44px 13.44px 0;
    }
}