.moviesCardList {
    padding: 70px 70px 10px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, minmax(200px, 360px));
    grid-auto-rows: minmax(150px, 319px);
    column-gap: 28px;
    row-gap: 32px;
}

@media screen and (max-width: 900px) {
    .moviesCardList {
        padding: 70px 30px 30px;
        grid-template-columns: repeat(2, minmax(200px, 342px));
        grid-auto-rows: minmax(150px, 309px);
        column-gap: 24px;
        row-gap: 35px;
    }
}

@media screen and (max-width: 760px) {
    .moviesCardList {
        padding: 40px 10px 30px;
        grid-template-columns: minmax(200px, 300px);
        grid-auto-rows: minmax(150px, 271px);
        row-gap: 16px;
        justify-content: center;
    }
}