.section__heading {
    margin: 0;
    padding: 0 0 25px;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -1px;
    border-bottom: 1px solid;
}

@media screen and (max-width: 760px) {
    .section__heading {
        padding-bottom: 28px;
        font-size: 18px;
    }
}