.not-found__code {
    margin: 0 auto;
    padding: 0;
    height: 169px;
    font-size: 140px;
    font-weight: 400;
}

@media screen and (max-width: 760px) {
    .not-found__code {
        font-size: 80px;
        height: 97px;
    }
}