.about-me__container {
    padding: 68px 70px 0;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 900px) {
    .about-me__container {
        padding: 65px 0 0;
    }
}

@media screen and (max-width: 760px) {
    .about-me__container {
        padding-top: 60px;
        flex-direction: column-reverse;
        row-gap: 40px;
        align-items: center;
    }
}