.searchForm__input {
    margin: 0;
    padding: 0 0 15px;
    border: 0;
    background-color: transparent;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    color: #A0A0A0;
}

.searchForm__input::placeholder {
    color: #a0a0a0;
}

.searchForm__input:focus {
    outline: none;
    border-bottom: 1px solid #3456F3;
}

@media screen and (max-width: 760px) {
    .searchForm__input {
        font-size: 18px;
        max-width: 258px;
        text-align: left;
    }
}