.portfolio__link-container {
    height: 50px;
    padding: 20px 0 19px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E8E8E8;
}

@media screen and (max-width: 760px) {
    .portfolio__link-container {
        height: 28px;
    }
}