.link-bar__link {
    max-height: 38px;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: -0.4px;
    color: #000;
    transition: opacity 0.6s;
}

.link-bar__link:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 760px) {
    .link-bar__link {
        font-size: 10px;
        letter-spacing: 0;
    }
}