.footer__container {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #E8E8E8;
    padding-top: 20px;
}

@media screen and (max-width: 760px) {
    .footer__container {
        padding-top: 30px;
        flex-direction: column-reverse;
        align-items: center;
        row-gap: 30px;
    }
}