.linkBar__link_type_profile {
    justify-self: flex-end;
    height: 32px;
}

@media screen and (max-width: 900px) {
    .linkBar__link_type_profile {
        visibility: hidden;
        position: fixed;
    }
}