.movies-card__save {
    margin: 0 auto;
    padding: 0;
    width: 100px;
    height: 29px;
    background-image: url(../../../images/save.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border: none;
    background-color: transparent;
    transition: opacity 0.6s;
    /* z-index: -1;
    opacity: 0; */
}

.movies-card__save:hover {
    cursor: pointer;
    opacity: 0.6;
}