.movies-card__name {
    margin: 0;
    padding: 0;
    max-width: 130px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 760px) {
    .movies-card__name {
        font-size: 12px;
    }
}