.searchForm__check {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.searchForm__check+label:hover::before {
    cursor: pointer;
    opacity: 0.6;
}

.searchForm__check+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.searchForm__check+label::before {
    padding-right: 12px;
    content: '';
    display: inline-block;
    width: 36px;
    height: 20px;
    background-image: url(../../../images/checkboxInactive.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transition: opacity 0.6s;
}

.searchForm__check:checked+label::before {
    background-image: url(../../../images/checkboxActive.png);
}

@media screen and (max-width: 900px) {
    .searchForm__check+label {
        font-size: 11px;
        line-height: 18px;
    }

    .searchForm__check+label::before{
        padding-right: 13px;
    }
}