.searchForm {
    padding: 70px 70px 48px;
}

@media screen and (max-width: 900px) {
    .searchForm {
        padding: 86px 30px 61px;
    }
}

@media screen and (max-width: 760px) {
    .searchForm {
        padding: 92px 14px 50px;
    }
}