.search-form {
    padding: 70px 70px 48px;
}

@media screen and (max-width: 900px) {
    .search-form {
        padding: 80px 30px 61px;
    }
}

@media screen and (max-width: 760px) {
    .search-form {
        padding: 96px 14px 50px;
    }
}