.filter-checkbox {
    margin: 0 auto;
    padding: 29px 0 0;
    height: 20px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 760px) {
    .filter-checkbox {
        padding-top: 41px;
    }
}