.filterCheckbox {
    margin: 0 auto;
    padding: 29px 0 0;
    height: 20px;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
}

@media screen and (max-width: 900px) {
    .filterCheckbox {
        padding-top: 42px;
    }
}