.savedMovieCard {
    padding: 18px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFF;
    border-radius: 6px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.02);
}

@media screen and (max-width: 760px) {
    .savedMovieCard {
        padding: 14px 0;
    }
}