.profile__logOut {
    margin: 16px auto 0;
    border: none;
    background-color: transparent;
    font-size: 13px;
    font-weight: 400;
    color: #EE3465;
    transition: opacity 0.6s;
}

.profile__logOut:hover {
    cursor: pointer;
    opacity: 0.6;
}