.aboutMe {
    padding: 107px 70px 0;
    background-color: #fafafa;
}

@media screen and (max-width: 900px) {
    .aboutMe {
        padding: 93px 50px 0;
    }
}

@media screen and (max-width: 760px) {
    .aboutMe {
        padding: 70px 14px 0;
    }
}